.App {
  text-align: center;
}

.display {
  margin: auto;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
}

.DayCalendar, .DayDisplay {
  border: 1px solid black;
  min-width: 250px;
  max-width: 400px;
  min-height: 400px;

}
.DayDisplay {
  /* border: 1px solid black */
}

.AppointmentList {}
.Appointment {
  /* border: 1px solid black; */
  margin: 5px;
}

.Timeslot {
  border: 1px solid green;
  padding: 5px;
}

.available {
  background: lightgreen
}
.full {
  background: darkcyan;
}